<div class="hero-unit">
  

  <h1>Proyecto "STALKER"</h1>
            <p>Aplicacion que permitira hacer un seguimiento completo a los contactos elegidos del Facebook.</p>
        
	<% if session[:access_token] %>
	<% @api = Koala::Facebook::API.new(session[:access_token]) %>	  
	<% @user_info = @api.get_object("me") %>
		<p><a href="/principal.html" class="btn btn-primary btn-large" >Mas &raquo;</a></p>
		<% else %>
		<a class="btn btn-primary btn-large" href="/login" >Log In &raquo;</a>
		<% end %>  	
          </div>
		  
<% if session[:access_token] %>  
<div class="well data-bar"> 
	<div  class="span4">
	<h1>29</h1>
	<h6>Objetivos</h6>
	</div>
	<div class="span4 last">
	<h1>20</h1>
	<h6>Mensajes</h6>
	</div>

	<h1>2</h1>
	<h6>Usuarios</h6>
	
</div>
<div class="panel">
  <img alt="Dash-graph" src="../images/dash-graph.png?">
</div>
	<% end %> 
