
        <div class="span9">
				<div class="page-header">
		
	<div class="right">
		<div class="btn-group">
	    <button class="btn btn-large"><i class="icon-plus"></i> Nuevo Mensaje</button>
	    <button class="btn btn-large"><i class="icon-trash"></i> Borrar Marcados</button>

    </div>
	</div>
	<h1>Inbox</h1>
</div>
		

		  
		  
	<table class="table messages table-striped">
	<tbody><tr class="unread">
		<td>
			<span class="right"></span><input checked="checked" type="checkbox">
			<span class="from">Nathan Speller</span><span class="details">xxxx</span>
		</td><td>
	</td></tr>
	<tr>
		<td>
			<span class="right"></span><input type="checkbox">
			<span class="from">Jeremy Oswald (5)</span><span class="details">xxxx</span>
		</td><td>
	</td></tr>
	<tr>
		<td>
			<span class="right"></span><input type="checkbox">
			<span class="from">Tina Smith</span><span class="details">xxxx</span>
		</td><td>
	</td></tr>
	<tr class="unread">
		<td>
			<span class="right"></span><input checked="checked" type="checkbox">
			<span class="from">Nathan Speller</span><span class="details">xxxx</span>
		</td><td>
	</td></tr>
	<tr>
		<td>
			<span class="right"></span><input type="checkbox">
			<span class="from">Jeremy Oswald (3)</span><span class="details">xxxx</span>
		</td><td>
	</td></tr>
	<tr>
		<td>
			<span class="right"></span><input type="checkbox">
			<span class="from">Tina Smith  2)</span><span class="details">xxx</span>
		</td><td>
	</td></tr>

