 <div class="span12">
          <div class="hero-unit">
            <h1>Principal</h1>
            <p>Resumen de la aplicacion</p>
          </div>

      <div class="row-fluid">
            <div class="span4">
              <h2>Introduccion</h2>
              <p>El aplicativo permitira hacer el seguimiento a las actualizaciones de las personas que se seleccione .... </p>
      
            </div><!--/span-->
            <div class="span4">
              <h2>Objetivo</h2>
              <p>Permitir acosar gente</p>
      
            </div><!--/span-->
            <div class="span4">
              <h2>Funcionamiento</h2>
              <p>A traves de la perla "Koala" la aplicacion permite conectarse a facebook y visualizar el contenido de la persona elegida. 
			  Luego se enviara una serie de alertas al correo configurado a travez de CRON configurado en el RAKEFILE </p>

            </div><!--/span-->
          </div><!--/row-->
          <div class="row-fluid">
            <div class="span4">
              <h2>Framework</h2>
              <p>Se trabajo bajo el framework Twitter Bootstrap y hosting en HEROKU</p>
        
            </div><!--/span-->
            <div class="span4">
              <h2>Links de Interes</h2>
              <p></p>

            </div><!--/span-->
             <div class="span4">
              <h2>Agradecimientos A MI</h2>
              <p></p>

            </div><!--/span-->
          </div><!--/row-->
	



